$colors: (
  'bright-orange': hsl(31, 77%, 52%),
  'dark-cyan': hsl(184, 100%, 22%),
  'darker-cyan': hsl(179, 100%, 13%),
  'transparent-white': hsla(0, 0%, 100%, 0.75),
  'light-grey': hsl(0, 0%, 95%),
);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: map-get($colors, 'light-grey');
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  color: map-get($colors, 'transparent-white');
  max-width: 900px;
  border-radius: 0.5rem;
  overflow: hidden;

  .card {
    padding: 3rem;
    flex: 1 1 300px;

    &__body {
      line-height: 1.75;
    }

    &:nth-child(1) {
      --btn-color: #{map-get($colors, 'bright-orange')};
      background-color: var(--btn-color);
    }

    &:nth-child(2) {
      --btn-color: #{map-get($colors, 'dark-cyan')};
      background-color: var(--btn-color);
    }

    &:nth-child(3) {
      --btn-color: #{map-get($colors, 'darker-cyan')};
      background-color: var(--btn-color);
    }

    &__header {
      h3 {
        font-family: 'Big Shoulders Display', sans-serif;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: uppercase;
        color: map-get($colors, 'transparent-white');
        margin: 1.5rem 0;
      }
    }

    &__footer {
      margin-top: 4rem;
    }

    &__btn {
      border: 2px solid map-get($colors, 'light-grey');
      background-color: map-get($colors, 'light-grey');
      border-radius: 2rem;
      padding: 0.5rem 1.5rem;
      text-decoration: none;
      display: inline-block;
      color: var(--btn-color);

      &:hover {
        background-color: transparent;
        color: map-get($colors, 'transparent-white');
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1.5rem;

  a {
    color: hsl(228, 45%, 44%);
  }
}

@media (max-width:961px)  {
  .card-group {
    margin: 4rem 2rem;
  }
}