$background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));

$text-dark: hsl(229, 25%, 31%);
$text-score: hsl(229, 64%, 46%);
$text-header-outline: hsl(217, 16%, 45%);

$btn-shadow: hsl(218, 25%, 81%);

$rock-primary: hsl(349, 70%, 56%);
$rock-dark: hsl(349, 71%, 52%, 0.7);

$paper-primary: hsl(230, 89%, 65%);
$paper-dark: hsl(230, 89%, 62%, 0.7);

$scissors-primary: hsl(40, 84%, 53%);
$scissors-dark: hsl(39, 89%, 49%, 0.7);

$lizard-primary: hsl(261, 72%, 63%);
$lizard-dark: hsl(261, 73%, 60%, 0.7);

$spock-primary: hsl(189, 58%, 57%);
$spock-dark: hsla(189, 59%, 53%, 0.7);
