$colors: (
  // text
  'dark-blue': hsl(238, 29%, 16%),
  'soft-red': hsl(14, 88%, 65%),

  // gradient
  'soft-violet': hsl(273, 75%, 66%),
  'soft-blue': hsl(240, 73%, 65%),

  // text general
  'darkest-grayish-blue': hsl(237, 12%, 33%),
  'dark-grayish-blue': hsl(240, 6%, 50%),

  // dividers
  'light-grayish-blue': hsl(240, 5%, 91%),
);

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-size: 12px;
  font-family: 'Kumbh Sans', sans-serif;
  color: map-get($colors, 'dark-grayish-blue');
}

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  background-image: linear-gradient(map-get($colors, 'soft-violet'), map-get($colors, 'soft-blue'));
}

.accordion-wrapper {
  background-color: #fff;
  border-radius: 2rem;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 20px 40px map-get($colors, 'darkest-grayish-blue');

  .accordion-img {
    background-image: url('./../images/illustration-woman-online-desktop.svg'), url('./../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat, no-repeat;
    background-size: 100%, 200%;
    background-position: -65px center, -465px center;
    width: 400px;
    display: flex;
    align-items: center;

    &__woman {
      display: none;
    }

    &__box {
      margin-left: -73px;
      margin-top: 80px;
      width: 150px;
    }
  }

  .accordion {
    padding: 5rem 2.5rem;
    width: 350px;
    max-width: 350px;

    h3 {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      color: map-get($colors, 'dark-blue');
    }

    &__item {
      border-bottom: 1px solid map-get($colors, 'light-grayish-blue');

      &-header {
        padding: 1rem 0;
        list-style: none;
        color: map-get($colors, 'darkest-grayish-blue');
        font-weight: 400;

        &::after {
          content: url('./../images/icon-arrow-down.svg');
          float: right;
          margin-left: 1rem;
        }

        &:hover {
          color: map-get($colors, 'soft-red');
          cursor: pointer;
        }

        &:focus {
          outline: 1px solid map-get($colors, 'dark-grayish-blue');
        }
      }

      p {
        padding-bottom: 1rem;
      }

      &[open] .accordion__item-header {
        font-weight: 700;
        color: map-get($colors, 'dark-blue');

        &::after {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1.5rem;
  color: #000;

  a {
    font-size: 11px;
    color: #fff;
  }
}

@media (max-width: 640px) {
  .accordion-wrapper {
    flex-direction: column;
    min-width: 300px;
    max-width: 300px;
    margin-top: 120px;

    .accordion-img {
      background-image: url('./../images/bg-pattern-mobile.svg');
      background-repeat: no-repeat;
      background-size: auto;
      background-position: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: auto;
      padding-bottom: 10px;

      &__woman {
        margin-top: -105px;
        display: block;
      }

      &__box {
        display: none;
      }
    }

    .accordion {
      padding: 2.5rem 1.75rem;
      width: auto;

      h3 {
        text-align: center;
      }
    }
  }
}